.container-products {
  
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
 
}

@media (min-width: 450px) {
    .container-products{
    
    position: absolute;
    right: 0;
    top: 1350px;
    }
}