.list_container {
    width: 75vw;
  position: relative;
  top: 0;
 
    margin: auto;
  
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   flex-direction: column;
}

.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}