.container > img {
   max-width:75vw;
   padding-top: 100px;
}

.container {
   overflow-x: hidden;
}

.trending_title {
   margin-top: 40px;
}


.trending_title > h1 {
text-align: center;
text-transform: uppercase;
font-size: 30px;
letter-spacing: 1px;
display: grid;
grid-template-columns: 1fr auto 1fr;
grid-template-rows: 3px 0;
grid-gap: 22px;

}

.trending_title > h1:after,.trending_title > h1:before {
   content: " ";
   display: block;
  border-top: 17px solid rgba(255, 255, 255, 0);
   border-bottom: 2px solid rgb(168, 168, 168); 
   background-color: #ffffff;
}

@media(max-width:440px) {
   .trending_title > h1 {
font-size: 15px;
   }

      .trending_title>h1:after,
      .trending_title>h1:before {
         border-top: 7px solid rgba(255, 255, 255, 0);
         border-bottom: 1px solid rgb(83, 83, 83);
      }
}
