.wishlist_container {
    margin-top: 30px;
}

.table_row {
 display: flex;
 justify-content: space-between;
 
 background-color: bisque;
 padding: 10px;
 border-radius: 15px;
 margin: 10px;
}

.bg_wishlist {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}