.wishlist_container {
    margin-top: 30px;
    min-height: 100vh;
}

.table_row {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgb(241, 241, 240);
 padding: 10px;
 border-radius: 15px;
 margin: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.bg_wishlist {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.img_wish {
    max-width: 70px;
}

.btn_wish {
    margin-right: 10px;
}

@media (max-width: 440px) {
    .table_row {
        
        margin-left: 0;


    }
}
