.wishlist_container {
    margin-top: 130px;
}

.table_row {
 display: flex;
 justify-content: space-between;
 
 background-color: bisque;
 padding: 10px;
 border-radius: 15px;
 margin: 10px 10px 10px 10px;
}