.wishlist_container {
    margin-top: 30px;
    min-height: 100vh;
}

.wishlist_title  {
    color: rgba(255, 255, 255, 0.74);
    font-size: 35px;
    position: absolute;
    top: 25vh;
    left: 20vw;
    z-index: 5000;
}

.bg_wishlist {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.table_row {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgb(241, 241, 240);
 padding: 10px;
 margin: 10px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 height: 100px;
 width: 98%;
 border: 1px solid rgba(17, 17, 16, 0.144);
 
}

.img_wish {
    width: 50px;
}

.btn_wish {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(77, 77, 77);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2vw;
    
}

.title_product {
    font-size: 20px;
    font-weight: bold;
    width: 30vw;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(98, 207, 207);
    width: 90px;
    padding-left: 0;
}

@media(max-width: 768px) {
    .table_row {
        width: 100%;
        margin-left: 0;
    }
    
    .title_product {
        width: 100%;
        max-height: 100px;
    }
    
    .price {
        width: 100%;
    }
    
    .btn_wish {
        width: 100%;
    }

    
}

@media(max-width: 440px) {
    .wishlist_title {
        top:34vh;
        left: 3vw;
    }
}



