.card {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-img-top {
    width: 100%;
    max-width: 250px;
    height: 300px;
   object-fit: contain;

}

.card-title {
    height:70px;
    overflow: hidden;
    font-size: 20px;
}



.price {
    font-weight: 600;
    font-size: 28px;
 
    color: rgb(46, 148, 97);
    margin-bottom: 10px;
   
    
   
   
}

.footer-card {
    display: flex;
    justify-content: space-between;
   font-size: 13px;
}

.card-text {
    position: relative;
    top: 7px
}