.container_search {
    display: flex;
}

/* @media (min-width: 768px){
.container_search {
    display: flex;
    position: relative;
    left: -218px;
    
}

.container_search > input {
    width: 400px;
}
} */