.footer {
    background-color: rgb(214, 214, 214);
    height: 129px;
    
    position: absolute;
    bottom:0;
    top: 530%;
    
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

}

.left-footer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
}

.right-footer {
    float: right;
    margin-right: 10vw;
}

.right-footer > img {
    width: 50px;
   
}

.brand-registered {
    color: rgb(138, 136, 136);
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

@media (max-width:440px) {
    .footer {
        height: 150px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .right-footer {
        width: 50px;
       margin-bottom: 25vh;
       
        display: flex;
        justify-content: center;
        align-items: center;

    }

    

    .brand-registered {
        margin-left: 0;
    }
   
}