.card {
    min-width: 200px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 5px;
}

.card-img-top {
    width: 100%;
    max-width: 200px;
    max-height: 250px;
    height: 300px;
    object-fit: contain;
}

.card-title {
    height:70px;
    overflow: hidden;
    font-size: 20px;
}



.price {
    font-weight: 600;
    font-size: 25px;
 
    color: rgb(46, 148, 97);
    margin-bottom: 10px;
   
    
   
   
}

.footer-card {
    display: flex;
    justify-content: space-between;
   font-size: 12px;
}

.card-text {
    position: relative;
    top: 7px;
    left: 0;
}

