.footer {
    background-color: rgb(214, 214, 214);
    height: 129px;
    position: absolute;
    padding-left: 10vw ;
    padding-right: 10vw ;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

}

.icons {
    margin: 0 5px 0 5px;
    font-size: 30px;
}



.left-footer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}

.right-footer {
    float: right;
    
    min-width: 150px;
}



.brand-registered {
    color: rgb(138, 136, 136);
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

@media (max-width:440px) {
.icons {
        margin: 0 5px 0 5px;
        font-size: 30px;
    }

    .footer {
        padding-top: 3vh;
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: space-between;
    }

    .right-footer {
        width: 50px;
       margin-bottom: 5vh;
       
        display: flex;
        justify-content: center;
        align-items: center;

    }

    

    .brand-registered {
        margin-left: 0;
    }
   
}