.topNav {
    background-color: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-menu { 
   margin: auto;
   display: flex;
   justify-content: space-between;
   margin-left: 10vw;
}

a {
    margin: 0 5px 0 5px;
}

.wish {
    margin-right: 10vw;
}

.topNav > a > img {
    width: 170px;
    position: absolute;
   
    left: 42%;
   text-align: center;
    top: 0;
   
   
    
}

@media (max-width:440px) {
.topNav {
    height: 105px;
}


    a {
        margin-top: 30px;
    }

    .topNav > a > img {
        
        position: absolute;
        left: 29%;
    }
}

.nav_link {
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;

}

.nav_link::after {
 content: " ";
 position: absolute;
 left: 0; bottom: 0;
 width: 100%; height: 2px;
 background-color: rgb(90, 90, 90);
 transform: scaleX(0);
 transform-origin: right;
 transition: transform .5s;
}

.nav_link:hover::after {
 transform: scaleX(1);
 transform-origin: left;
}




